<div class="row">
  <div class="col">
    <h2>Pick your stack</h2>
    <p>Pick up to 8 news services to save to cookies.</p>
    <form (ngSubmit)="saveStack()">
      <ul>
        <li *ngFor="let option of options; let i = index">
          <input type="checkbox" id="cb{{i}}" name="{{option.name}}" (change)="updateChecked(option, i)">
          <label for="cb{{i}}"><img src="../app/images/{{option.string}}.png"></label>

        </li>
      </ul>
      <div class="btn-wrap">
        <button type="submit">Submit</button>
        <a class="back-btn" routerLink="/">back</a>
      </div>
    </form>
  </div><!--col-->
</div><!--row-->

