@import 'variables';

* {
	padding: 0;
	margin: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
}

h1 {
	font-size: 24px;
	font-weight: normal;
	font-family: Georgia, Times, serif;
}

h2 {
	font-family: Georgia, Times, serif;	
}

p {
	font-size: 16px;
	line-height: 24px;
}

.container {
	max-width: 620px;
	padding: 0 15px;
	margin: 0 auto;
	overflow: hidden;
}

.row {
	margin: 0 -15px;
	clear: both;
}

.col, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    	position: relative;
    	min-height: 1px;
    	padding-right: 15px;
    	padding-left: 15px;
}

.col-xs-12 {
	width: 100%;
}

header {
	background-color: $primary-color;
	padding: 30px 0 30px 0;
	h1 {
		color: #fff;
		font-weight: normal;
		font-size: 24px;
		display: block;
		height: 50px;
		width: 250px;
		text-indent: -9999px;
	}
}

footer {
	background-color: $secondary-color;
	margin-top: 30px;
	color: #fff;
	font-size: 12px;
	.container {
		position: relative;
		padding-top: 20px;
		padding-bottom: 20px;
		min-height: 100px;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.att-link {
		position: absolute;
		left: 20px;
		bottom: 20px;
	}
	.contact {
		position: absolute;
		right: 20px;
		bottom: 20px;
	}
}

.fab,
.fab-dt {
	position: fixed;
	left: 50%;
	bottom: 15px;
	margin-left: -28px;
    display: block;
    width: 56px;
    height: 56px;
    background-color: $quaternery-color;
    background-position: center center;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-indent: -9999px;
    transition: all 0.2s ease;
    &:hover, &:focus {
  		box-shadow: 0 0 4px rgba(0,0,0,.14),
    	0 4px 8px rgba(0,0,0,.28);
	}
	&:active {
		box-shadow: none;
	}
}

.fab.hidden,
.fab-dt.hidden {
	display: none;
}



/* forms - pinched from bootstrap */
.ng-valid[required], .ng-valid.required  {
  	border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  	border-left: 5px solid #a94442; /* red */
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
}

.form-group {
	margin-bottom: 15px;
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* end of forms */

@media only screen and (min-width : 700px) {

	header .container {
		position: relative;
		overflow: visible;
	}

	.fab {
		display: none;
	}

	.fab-dt {
		position: absolute;	
		right: 30px;
		top: 49px;
		left: auto;
		bottom: auto;
		margin-left: 0;
	}
}

@media only screen and (min-width : 750px) {
	.container {
		max-width: 750px;
	}
}

@media (min-width: 768px) {
	.col-sm-offset-3 {
    	margin-left: 25%;
	}
	
	.col-sm-6 {
    	width: 50%;
	}
}

@media only screen and (min-width : 980px) {
	header {
		h1 {
			font-size: 36px;
		}
	}

	.container {
		max-width: 980px;
	}

	nav {
		margin: 30px -15px 11px -15px;
		overflow: hidden;
		button {
			background-color: transparent;
			color: #000;
			padding: 0;
			margin: 0 15px 0 15px;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			font-size: 16px;
			border-bottom: 4px solid transparent;
			transition: border-bottom ease 0.5s;
		}
		button:hover {
			border-bottom: 4px solid $primary-color;
		}
		li.selected button {
			background-color: transparent;
			border-bottom: 4px solid $primary-color;
		}
	}
}

@media only screen and (min-width : 1140px) {

	.container {
		max-width: 1140px;
	}

	nav {
		margin: 30px -20px 11px -20px;
		button {
			font-size: 18px;
			margin: 0 20px 0 20px;
		}
	}
}

@media only screen and (min-width : 1300px) {
	.container {
		max-width: 1300px;
	}
}

